.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h1.page-header Dashboard
        .row.placeholders
            .col-xs-6.col-sm-3.placeholder
                a(href='daimler')
                    img.img-fluid(src='images/stern.jpg', width='200', height='200', alt='Generic placeholder thumbnail')
                h4 Daimler
            .col-xs-6.col-sm-3.placeholder
                img.img-fluid(src='images/vw.jpg', width='200', height='200', alt='Generic placeholder thumbnail')
                h4 VW
            .col-xs-6.col-sm-3.placeholder
                a(href='compile')
                    img.img-fluid(src='images/server.jpg', width='200', height='200', alt='Generic placeholder thumbnail')
                h4 Backend
            .col-xs-6.col-sm-3.placeholder
                img.img-fluid(src='images/simu.png', width='200', height='200', alt='Generic placeholder thumbnail')
                h4 Simulation
        h2 News
        div
            .card-deck-wrapper
                .card-deck
                    .card
                        .card-header Featured
                        .card-block
                            h4.card-title Special title treatment
                            p.card-text With supporting text below as a natural lead-in to additional content.
                    .card
                        .card-header Featured
                        .card-block
                            h4.card-title Special title treatment
                            p.card-text With supporting text below as a natural lead-in to additional content.
                    .card
                        .card-header Featured
                        .card-block
                            h4.card-title Special title treatment
                            p.card-text With supporting text below as a natural lead-in to additional content.
