
.modal.fade.bd-example-modal-sm( tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content(style="padding:20px;")
                form.form-signin(action="/submit" method="post")
                    h2.form-signin-heading Please sign in
                    label.sr-only(for='username') Username
                    input#username.form-control(name="username", placeholder='Username', required='', autofocus='true')
                    label.sr-only(for='inputPassword') Password
                    input#inputPassword.form-control(name="password" type='password', placeholder='Password', required='')
                    label
                            input(type='checkbox', value='remember-me')
                            |  Remember me
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in


nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse
    button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    a.navbar-brand(href='#') RemoteView
    #navbar
        nav.nav.navbar-nav.pull-xs-left
            a.nav-item.nav-link.hidden-sm-down(href='/') Dashboard
            a.nav-item.nav-link.hidden-sm-down(href='/settings') Settings
            a.nav-item.nav-link.hidden-sm-down(href='/profile') Profile
            a.nav-item.nav-link.hidden-sm-down(href='/help') Help
        - if(!success)
            button.btn.btn-primary.pull-xs-right(style="margin-left:5px;", type='button', data-toggle='modal', data-target='.bd-example-modal-sm') Login
        - else
            .dropdown.pull-xs-right(style="min-width:150px;margin-left:5px;margin-rigth:20px;")
                button#dropdownMenuButton.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='false', aria-expanded='true' ,style="min-width:100px;")
                    | #{user}
                .dropdown-menu(aria-labelledby='dropdownMenuButton',style="min-width:150px;")
                    a.dropdown-item(href='/logout' ,style="width:150px;") Logout
        form.pull-xs-right.hidden-xs-down
            input.form-control(type='text', placeholder='Search...')
