extends layout

block content
  include header.jade
  include sidebar.jade
  .container-fluid
    .row
      include content.jade
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='javascripts/bootstrap.min.js')




  // Just to make our placeholder images work. Don't actually copy the next line!
  //script(src='javascripts/vendor/holder.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
  //script(src='javascripts/ie10-viewport-bug-workaround.js')
